<html>

<head>
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <div class="wrapper">
    <form class="form-signin">

      <h2 class="form-signin-heading text-center">
         <img src="/static/wifi.png" alt="" width="100px"><br><br>
         Wifi Login</h2>
      <div class="signup-options">
        <a class="btn btn-lg btn-primary" href="/" type="submit">New Login</a>
        <a class="btn btn-lg btn-primary" href="/continue" type="submit">Continue Login</a>
      </div>
      <label for="name">Name:</label>
      <input type="text" class="form-control" name="name" placeholder="Name" required="" autofocus="" />
      <br>
      <p>Please write the following text below. When you're finished, click submit:</p>
      <p class="login-text"> {{ example_text1 }}</p>

      <textarea name="keystrokedata" class="form-control key-data"></textarea>
      <br>
      <button class="btn btn-lg btn-primary" type="submit">Submit</button>
    </form>
  </div>
</body>

</html>
